doctype 5
html
  head
    title Tim's Multiplayer Draw App
    meta(name="viewport" content="initial-scale=1")	
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="alertify.core.css")
    link(rel="stylesheet" href="alertify.default.css")	
  body
    div#optionPanel
      div#optionPanelTab C
      p
        strong Colour
      ul
        li#c-green.c Green
        li#c-blue.c Blue
        li#c-orange.c Orange
        li#c-pink.c Pink
        li#c-black.c Black
        li#c-yellow.c Yellow
        li#c-red.c Red
    div#cursors
    canvas#paper(width="1900" height="1000") Your browser doesn't support canvas!
    hgroup#instructions
      h1 Draw anywhere!
      h2 You will see everyone else who is doing the same.
      h3 Note: Drawings are saved and get redrawn until server reboots!
    div#chatArea
    div#settingsPanel
      div#settingsPanelTab Settings
      label(for="usernameInput") Chat Name
      input(type="text" id="usernameInput" placeholder="Username: Guest")
      
      table#serverStats
      div#bottomAttribution
        p
          a(id="statsShow" href="javascript:void(0)") Server Stats
        p node-multidraw v0.5 by <a href="http://timatooth.com">Tim Sullivan</a>
        p Source code on <a href="https://github.com/timatooth/node-multidraw">GitHub</a>
    input(type="text" id="chatBox" placeholder="Chat" maxlength="135")
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="jquery.hammer.min.js")
    script(src="alertify.min.js")
    script(src="draw.js")