doctype html
html
  include ./inc/head.jade
  body
    div#colourPanel
      div#colourPanelTab C
      p
        strong Colour
      ul
        li#c-green.c Green
        li#c-blue.c Blue
        li#c-orange.c Orange
        li#c-pink.c Pink
        li#c-black.c Black
        li#c-yellow.c Yellow
        li#c-red.c Red
      div#handTool
    div#cursors
    canvas#paper(width="1900" height="1000") Your browser doesn't support canvas!
    div#instructions
      h1#bigTitle Draw Anywhere!
      h2 You will see everyone else drawing
      h3 Note: Drawings are saved on the server. Come back any time!
      p#status
    div#settingsPanel
      div#settingsPanelTab Settings
      h2 You're drawing in
      h3#canvasName #{canvasName}
      label(for="usernameInput") Chat Name
      input(type="text" id="usernameInput" placeholder="Username: Guest")

      p
        a(id="clearButton" href="javascript:void(0)") Clear canvas

      table#serverStats
      div#bottomAttribution
        p
          a(id="statsShow" href="javascript:void(0)") Server Stats
        p v0.5 by <a href="https://timatooth.com">Tim Sullivan</a>
        p Source code on <a href="https://github.com/timatooth/node-multidraw">GitHub</a>
    input(type="text" id="chatBox" placeholder="Chat" maxlength="135")
    script(src="//code.jquery.com/jquery-2.1.1.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/draw.min.js")
