doctype html
html
  include ./inc/head.jade
  body
    div#colourPanel
      div#colourPanelTab C
      p
        strong Colour
      ul
        li#c-green.c Green
        li#c-blue.c Blue
        li#c-orange.c Orange
        li#c-pink.c Pink
        li#c-black.c Black
        li#c-yellow.c Yellow
        li#c-red.c Red
      div#handTool
    div#cursors
    canvas#paper(width="1900" height="1000") Sorry, Your browser doesn't support canvas!
    div#instructions
      h1#bigTitle Welcome to SciWriter!
      h2 Please wait while we connect you to a teacher...
      h3 Click on the canvas background to practise writing and drawing.
      p#status
  include ./inc/foot.jade
  script(src="/js/main.min.js")
  script(type='text/javascript') $(DrawPlugin($, io.connect()));
