doctype html
html
  include ./inc/head.jade
  script(type='text/javascript').
    var sessionName = '#{sessionName}';var pageNo = #{pageNo};
  body
    div#cursors
    if sessionName && pageNo
      div#session-bg-image
      div#session-bg-text
        span
    canvas#paper(width="1900" height="1000") Sorry, Your browser doesn't support canvas!

  include ./inc/foot.jade
  script(src="/js/draw.min.js")
