doctype html
html
  head
    if canvasName
      title #{canvasName} | udraw Multiplay Drawing
    else
      title udraw: Multiplayer Drawing
    meta(name="viewport" content="initial-scale=1")
    meta(name="description" content="Draw with everyone else in realtime on a HTML5 canvas")
    meta(property="og:url" content="https://udraw.me")
    meta(property="og:title" content="udraw: Multiplayer Draw")
    meta(property="og:image" content="https://udraw.me/screenshot.png")
    meta(property="og:image:width" content="1600")
    meta(property="og:image:height" content="1000")
    meta(property="og:description" content="Draw with everyone else online in realtime!")
    link(rel="stylesheet" href="/style.min.css")
  body

    canvas#paper(width="1900" height="1000") Your browser doesn't support canvas!
    //div#instructions
      //h1#bigTitle Connecting...
      //h2 You will see everyone else drawing
      //h3 Note: Drawings are saved on the server. Come back any time!
    div#settingsPanel
      div#settingsPanelTab Settings
      h2 You're in
      h3#canvasName #{canvasName}
      h3#sessionName #{sessionName}
      h3#pageNo #{pageNo}
      label(for="usernameInput") Chat Name
      input(type="text" id="usernameInput" placeholder="Username: Guest")

      table#serverStats
      div#bottomAttribution
        p
          a(id="statsShow" href="javascript:void(0)") Server Stats
        p v0.5 by <a href="https://timatooth.com">Tim Sullivan</a>
        p Source code on <a href="https://github.com/timatooth/node-multidraw">GitHub</a>
    //input(type="text" id="chatBox" placeholder="Chat" maxlength="135")
    script(src="//code.jquery.com/jquery-2.1.1.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/draw.min.js")
