doctype html
html
  include ./inc/head.jade
  body
    div#cursors
    if sessionName && pageNo
      // these optoins are all hidden by default (they could be built by the plugins...?)
      +textStimulus("presentation-text")
      +imageStimulus("presentation-image")
      +graphemeTilesStimulus("presentation-tiles")
    +drawingPresentation("presentation-drawing", 1900, 1000)

  include ./inc/foot.jade

  script(src="/js/main.min.js")
  script(type='text/javascript') $(SciWriterClientApp($, SciWriter));
