doctype html
html
  include ./inc/head.jade
  body
    div#cursors
    if sessionName && pageNo
      div#session-bg-image
      div#session-bg-text
        span
    canvas#paper(width="1900" height="1000") Sorry, please use a more modern browser!
    div#tiles-overlay

  include ./inc/foot.jade

  script(src="/js/main.min.js")

  // TODO LOAD ON STIMULUS PRESENTATION STRATEGY
  //if(stimulus.style == 4){
  script(type='text/javascript').
    $(TilesPlugin($));
    //$(DrawPlugin(JQuery));
